/* ================= RESET ================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================= ROOT ================= */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* ================= BODY ================= */
body {
  background: #ffffff;
  color: #0a1f2c;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

  overflow-x: hidden;
}

/* ================= LINKS ================= */
a {
  text-decoration: none;
  color: inherit;
}

/* ================= IMAGES ================= */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ================= BUTTON ================= */
button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

/* ================= INPUT ================= */
input,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

/* ================= LIST ================= */
ul,
ol {
  list-style: none;
}

/* ================= SCROLLBAR ================= */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f58220;
  border-radius: 10px;
}

/* ================= SELECTION ================= */
::selection {
  background: #f58220;
  color: #fff;
}